In [3]:
import pandas as pd 
pd.set_option('display.max_rows', 1000)

import os 
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# setting up path to the data file
PATH = os.path.abspath('')
#PATH = os.path.join(PATH, 'DATA')
names = 'dev-key.csv'

# read in the data as panda dataframe
df = pd.read_csv(os.path.join(PATH, names))
df.sample(5)
#df.head(10)
#df

         DOMINICK DANIEL AND SERENA AMBER STEVENS  DOMINICK DANIEL STEVENS
983                DENDY DOROTHY AND GARY LANGLEY    DENDY DOROTHY LANGLEY
549                 JAMES AND ROBERT MICHAEL FUNG               JAMES FUNG
707  ARMSTRONG LANGAN CHANEY AND JOHN RAYMOND ROY  ARMSTRONG LANGAN CHANEY
997              CHARLES SIKKEMA AND SHERRI MOORE    CHARLES SIKKEMA MOORE
287                   MARIA AND CHARLES HUTCHISON          MARIA HUTCHISON

In [4]:
df.dtypes

DOMINICK DANIEL AND SERENA AMBER STEVENS    object
DOMINICK DANIEL STEVENS                     object
dtype: object

In [5]:
# First three rows
df.iloc[:3]

    DOMINICK DANIEL AND SERENA AMBER STEVENS  DOMINICK DANIEL STEVENS
0              KARLA AND JOHN ANDRE MOREHEAD           KARLA MOREHEAD
1  SIDNEY STEVEN AND MONICA PATRICIA IRELAND    SIDNEY STEVEN IRELAND
2         EMMA AND RICKIE HALBERSTADT ACOSTA  EMMA HALBERSTADT ACOSTA

In [6]:
print(df.shape)
print(df.head(3))

(999, 2)
    DOMINICK DANIEL AND SERENA AMBER STEVENS  DOMINICK DANIEL STEVENS
0              KARLA AND JOHN ANDRE MOREHEAD           KARLA MOREHEAD
1  SIDNEY STEVEN AND MONICA PATRICIA IRELAND    SIDNEY STEVEN IRELAND
2         EMMA AND RICKIE HALBERSTADT ACOSTA  EMMA HALBERSTADT ACOSTA

In [7]:
print(df.iloc[0])

DOMINICK DANIEL AND SERENA AMBER STEVENS    KARLA AND JOHN ANDRE MOREHEAD
DOMINICK DANIEL STEVENS                                    KARLA MOREHEAD
Name: 0, dtype: object

In [8]:
#df.iloc[:,0]

In [12]:
#DRIVER - PREPROCESSING
#Create dicts of male and female names with key = name, value = percent

#PARAMETERS
female_file = 'dist.female.first.txt'
male_file = 'dist.male.first.txt'
surname_file = 'Names_2010Census.csv'

gender_files = [female_file, male_file]
gender_dicts = [dict(), dict()]

In [13]:
# Build 2 dictionary: One for female and other for male (key=name, value = percent)
for file, d in zip(gender_files, gender_dicts):
    fd = open(file, 'r')
    lines = fd.readlines()
    #print(lines)
    for line in lines:
        line = line.split() # split with space by default
        name = line[0]
        percent = float(line[1])
        d[name] = percent

In [17]:
#Create surname_dict where key = lastname, value = rank
surname_dict = {}
fd = open(surname_file, 'r')
lines = fd.readlines()
#print(lines)
for line in lines[1:]:
    line = line.split(',')
    surname_dict[line[0]] = int(line[1])

In [18]:
# Add 0 token from name2 : if len(name1 >=2) AND name1[-1] is the lastname (Rank of lastname > 150)
# Add 1 token from name2 : if name1[-1] is not the lastname AND name2[-2] is not the lastname AND name2[-1] is the lastname. (len(name2)>=2)
# Add 2 token from name2 : if name1[-1] is not the lastname AND both name2[-2] and name2[-1] are the lastname. (len(name2)>=3)

In [19]:
dev_file = 'dev-test.csv'
fd = open(dev_file, 'r')
lines = fd.readlines()
count = 0
for line in lines:
    count = count + 1
    #print("line : ",line)
    line = line.split(' AND ')
    print(line[0] + "====" + line[1])
    tokens = line[0].split(' ')
    print(tokens)
    print("++++++++++++++++++")
    if count > 5: break

DOMINICK DANIEL====SERENA AMBER STEVENS

['DOMINICK', 'DANIEL']
++++++++++++++++++
KARLA====JOHN ANDRE MOREHEAD

['KARLA']
++++++++++++++++++
SIDNEY STEVEN====MONICA PATRICIA IRELAND

['SIDNEY', 'STEVEN']
++++++++++++++++++
EMMA====RICKIE HALBERSTADT ACOSTA

['EMMA']
++++++++++++++++++
DANIEL JONES====MARY SERRANO

['DANIEL', 'JONES']
++++++++++++++++++
BONNIE====MICHAEL TRAN

['BONNIE']
++++++++++++++++++

In [24]:
name1lastwordvalue = 110
if (name1lastwordvalue is None or name1lastwordvalue > 150):
    print("Hi")
else:
    print("hello")

hello

In [ ]:
import sys
#test_file = sys.argv[1] # Read from command line
test_file = 'dev-test.csv'
output = open ('full-name-output.csv' , 'w')
test_lines = open (test_file , 'r')
for line in test_lines:
    line = line.strip() # Remove newline character
    [first_person , second_person] = line.split(' AND ')
    predicted_first_person = first_person # Simple and mostly wrong
    output.write (line + ',' + predicted_first_person + '\n')
output.close

In [27]:
line = "I am a boy "
print(line+"HI")
line = line.strip()
line

I am a boy
HI

'I am a boy'